@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}


:root {
  --bg-global: #0f172a;
  --bg-components: #1E293B80;
  --bg-info-components: #3341554D;
  --bg-button: #585f61;
  --color-text-lg: #94A3B8;
  --color-text-md: #64748B;
  --color-text-green: #34D399;
  --color-text-red: #f87171;
  --border-components: rgb(51,65,85);
  --border-button: rgb(71,85,105);
}

body{
    background-color: var(--bg-global);
}

main{
    max-width: 1268px;
    margin: 0 auto;
    left: 0;
    padding: 0 16px;
}
